<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :full_name %><br />
      <%= f.text_field :full_name %>
    </div>
    <div class="field">
      <%= f.label :slug %><br />
      <%= f.text_field :slug %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :county %><br />
      <%= f.text_field :county %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :school_district %><br />
      <%= f.text_field :school_district %>
    </div>
    <div class="field">
      <%= f.label :uscf_affiliate_id %><br />
      <%= f.text_field :uscf_affiliate_id %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
