<h1>Listing teams</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Full Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name , team %></td>
    <td><%= team.full_name %></td>
    <td><%= team.city %>, <%= team.state %>
        <%= " - #{team.county} County" if team.county %>
      <%= "(#{team.school_district})" if team.school_district %>
      <% if !team.uscf_affiliate_id.nil? %>
        <a href="http://www.uschess.org/msa/AffDtlMain.php?<%= team.uscf_affiliate_id %>">(<%= team.uscf_affiliate_id %>)</a>
      <% end %>
    </td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.admin? %>
  <%= link_to 'New Team', new_team_path %>
<% end %>