<h2><%= @team.name %> Team Roster</h2>

<b><%= @team.full_name %> (<%= @team.name %>)</b>
<%= @team.city %>, <%= @team.state %>
  <%= " - #{@team.county} County" if @team.county %>
  <%= "(#{@team.school_district})" if @team.school_district %>
  <% if @team.uscf_affiliate_id %>
    (<a href="http://www.uschess.org/msa/AffDtlMain.php?<%= @team.uscf_affiliate_id %>"><%= @team.uscf_affiliate_id %></a>)
  <% end %>
<p/>

<%= form_tag(controller: "teams", action: "search") do %>
    <%= label_tag(:uscf_search, "USCF Search:") %>
    <%= text_field_tag(:uscf_search) %>
    <%= submit_tag("Search") %>
<% end %>
<%= link_to 'Add New Player to Team', create_player_team_path %>

<% if !@team.players.first.nil?  %>
    <table class="player-roster grid" border="1">
      <thead>
        <tr><th>Grade</th><th>Name</th><th>Rating</th><th>USCF Id</th><th>USCF Status</th></tr>
      </thead>
      <tbody>
      <% @team.players.each do |player| %>
          <% if !player.new_record?   %>
          <tr>
            <td><%= player.grade%></td>
            <td><%= link_to "#{player.last_name}, #{player.first_name}", edit_player_path(player) %></td>
            <td><%= player.uscf_rating_reg == 0 ? 'UNR' : player.uscf_rating_reg %>
                <% unless player.uscf_rating_reg_live.nil?  %>
                   =&gt; <%= player.uscf_rating_reg_live == 0 ? 'UNR' : player.uscf_rating_reg_live %>
                <% end %>
            </td>
            <td><a href="http://www.uschess.org/msa/MbrDtlTnmtHst.php?<%= player.uscf_id %>"><%= player.uscf_id %></a></td>
            <td><%= player.uscf_status %></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>There are <%= @team.players.select{|p| !p.new_record? }.length %> players on this team. <p/>

  <% if @search_hits  %>
    <ul class='search_hits'>
    <% @search_hits.each do |player| %>
        <li>
          <%= player.last_name%>, <%= player.first_name %>
          (<%= player.uscf_rating_reg == 0 ? 'UNR' : player.uscf_rating_reg %>) -
          <a href="http://www.uschess.org/msa/MbrDtlTnmtHst.php?<%= player.uscf_id %>"><%= player.uscf_id %></a></td>
          <%= player.uscf_status %>
          <%= form_tag(controller: "teams", action: "create_player") do %>
              <%= hidden_field_tag "uscf_id", player.uscf_id %>
              <%= submit_tag("Add to Team") %>
          <% end %>
        </li>
    <% end %>
    </ul>
  <% end %>

  <% if !@player.nil? and !@player.uscf_id.nil?  %>

    <%= form_for @player, :url => create_player_team_path(@team),
                 html: {multipart: true, class: 'registration_form'} do |f| %>

        <fieldset>
          <legend>Player Information: Add a Player to <%= @team.name %> Team</legend>
          <% @player.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
          <% end %>

          <%= @player.last_name%>, <%= @player.first_name%>
          (<%= @player.uscf_rating_reg == 0 ? 'UNR' : @player.uscf_rating_reg %>) -
          <a href="http://www.uschess.org/msa/MbrDtlTnmtHst.php?<%= @player.uscf_id %>"><%= @player.uscf_id %></a>
          <%= @player.uscf_status %>

          <%= f.label :grade %>
          <%= f.select :grade, %w(K 1 2 3 4 5 6 7 8 9 10 11 12), {:include_blank => true} %>
          <%= f.hidden_field :uscf_id, :value => @player.uscf_id %>
        </fieldset>
        <%= f.submit 'Add Player to Team' %>
    <% end %>

<% end %>

<h2>Upcoming Tournaments</h2>

<% unless @upcoming_tournaments.empty?  %>
  <ul>
    <% @upcoming_tournaments.each do |tournament| %>
       <li> <%= tournament.name %> (<%= tournament.event_date %>)
       </li>
    <% end %>
  </ul>
<% else %>
  There are no tournaments open for registration.
<% end %>

<p/>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Refresh ' + @team.name, team_path %>
