<h1>Dashboard for <%= current_user.email %></h1>
<h2>Teams you Manage:</h2>
<% if @teams.size > 0 %>
    <table>
      <tr>
        <th>Team</th>
        <th>Full Name</th>
        <th>Location</th>
        <th>USCF Affiliate</th>
        <th></th>
        <th></th>
      </tr>

      <% @teams.each do |team| %>
          <tr>
            <td><%= link_to team.name , team %></td>
            <td><%= team.full_name %></td>
            <td><%= team.city %>, <%= team.state %>
              <%= " - #{team.county} County" if team.county %>
              <%= "(#{team.school_district})" if team.school_district %>
            <td><a href="http://www.uschess.org/msa/AffDtlMain.php?<%= team.uscf_affiliate_id %>"><%= team.uscf_affiliate_id %></a></td>
            </td>
            <% if current_user.admin? %>
                <td><%= link_to 'Edit', edit_team_path(team) %></td>
                <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
    </table>

<% else %>
    You have no managed teams.
<% end %>

<h2>Players you are Guardian for:</h2>
<% if @players.size > 0 %>
    <table class="player-roster grid" border="1">
      <thead>
      <tr><th>Grade</th><th>Name</th><th>Rating</th><th>USCF Id</th><th>USCF Status</th></tr>
      </thead>
      <tbody>
      <% @players.each do |player| %>
          <% if !player.new_record?   %>
              <tr>
                <td><%= player.grade%></td>
                <td>
                  <%= link_to "#{player.last_name}, #{player.first_name}", player %>
                  <%= link_to 'Edit', edit_player_path(player) %>
                </td>
                <td><%= player.uscf_rating_reg == 0 ? 'UNR' : player.uscf_rating_reg %>
                  <% unless player.uscf_rating_reg_live.nil?  %>
                      =&gt; <%= player.uscf_rating_reg_live == 0 ? 'UNR' : player.uscf_rating_reg_live %>
                  <% end %>
                </td>
                <td><a href="http://www.uschess.org/msa/MbrDtlTnmtHst.php?<%= player.uscf_id %>"><%= player.uscf_id %></a></td>
                <td><%= player.uscf_status %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% else %>
    You are not the guardian of any players.
<% end %>

<%= button_to 'Create Player', new_player_path, :method => 'get' %>
