<h1>Dashboard for <%= current_user.email %></h1>
<h2>Teams you Manage:</h2>
<% if @teams.size > 0 %>
    <table>
      <tr>
        <th>Team</th>
        <th>Full Name</th>
        <th>Location</th>
        <th>USCF Affiliate</th>
        <th></th>
        <th></th>
      </tr>

      <% @teams.each do |team| %>
          <tr>
            <td><%= link_to team.name , team %></td>
            <td><%= team.full_name %></td>
            <td><%= team.city %>, <%= team.state %>
              <%= " - #{team.county} County" if team.county %>
              <%= "(#{team.school_district})" if team.school_district %>
            <td><a href="http://www.uschess.org/msa/AffDtlMain.php?<%= team.uscf_affiliate_id %>"><%= team.uscf_affiliate_id %></a></td>
            </td>
            <% if current_user.admin? %>
                <td><%= link_to 'Edit', edit_team_path(team) %></td>
                <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
    </table>

<% else %>
    You have no managed teams.
<% end %>

<h2>Players you are Guardian for:</h2>
<% if @players.size > 0 %>
    <% @players.each do |player| %>
        <%= link_to "#{player.last_name}, #{player.first_name}", player_path(player) %>
    <% end %>
<% else %>
    You are not the guardian of any players.
<% end %>
