<%= error_messages_for(@registration) %>

<div id="headline" class="row">
  <div class="column twelve">
    <h1>Register to Play</h1>
    <p>You are one step away from being preregistered.</p>
  </div>
</div>

<div id="banner-signup">
  <h3>Register for Tournament: <%= @tournament.name %></h3>
  <p>Play in this tournament on <span class="tournament-date"><%= @tournament.event_date %></span>.</p>
  <%= form_for [@tournament, @registration], url: {action: 'create'}, html: {multipart: true, class: 'registration_form'} do |f| %>
    <fieldset>
      <legend>Player Information</legend>
      <div class="column_block">
      <ol>
        <li>
          <%= f.label :section, 'Desired Section' %>
          <%= f.select :section, @tournament.sections.collect{|section| section.name}, {:include_blank => true} %>
        </li>
        <li>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </li>
        <li>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </li>
        <li>
          <%= f.label :school %>
          <%= f.text_field :school %>
        </li>
        <li>
          <%= f.label :grade %>
          <%= f.select :grade, %w(K 1 2 3 4 5 6 7 8 9 10 11 12), {:include_blank => true} %>
        </li>
        <li>
          <%= f.label :gender %>
          <%= f.select :gender, %w(M F), {:include_blank => true} %>
        </li>
      </ol>
    </div>
    <div class="column_block">
      <ol>
        <li id="message" />
        <li>
          <%= f.label :uscf_member_id, 'USCF Member Id'%>
          <%= f.text_field :uscf_member_id %>
        </li>
        <li>
          <span class="info">For Rated Sections (see below)</span>
        </li>
      </ol>
    </div>
    <div class="column_block">
      <ol>
        <li>
          <%= f.label :address, 'Address'%>
          <%= f.text_field :address %>
        </li>
        <li>
          <%= f.label :city, 'City'%>
          <%= f.text_field :city %>
        </li>
        <li>
          <%= f.label :state, 'State'%>
          <%= f.text_field :state %>
        </li>
        <li>
          <%= f.label :zip_code, 'Zip Code'%>
          <%= f.text_field :zip_code %>
        </li>
        <li>
          <%= f.label :date_of_birth, 'Date of Birth'%>
          <% year = Time.new.year %>
          <%= f.date_select :date_of_birth,
                            start_year: year-19,
                            end_year: year-4,
                            :order => [:month, :day, :year] %>
        </li>
      </ol>
    </div>
    </fieldset><br class="column-stop"/>
    <%= f.submit 'Submit' %> <span class="privacy-policy">Participation in a public tournament is inherently not private. <br/>
  All tournament data, including registration information, is public.</span>
  <% end %>
</div>

<p><span class="info">Forgotten your USCF Member Id? Use the <a href="http://www.uschess.org/component/option,com_wrapper/Itemid,181/">USCF Player Lookup</a>.
Need to purchase a USCF membership to play in the rated sections? Do it <a href="https://secure2.uschess.org/webstore/member.php">online</a> or
at the tournament.</span> </p>

Return to <%= link_to @tournament.name,  tournament_path(@tournament), :class => 'btn', :id => 'Return' %>
