<%= error_messages_for(@registration) %>

<div id="headline" class="row">
  <div>
    <h2>Register for Tournament: <%= @tournament.name %></h2>
    <p>Play in this tournament on <span class="tournament-date"><%= @tournament.event_date %></span>.
      You are one step away from being preregistered.</p>
  </div>
</div>

<div id="banner-signup">
  <%= form_for [@tournament, @registration], url: {action: 'create'}, method: 'post', html: {multipart: true, class: 'registration_form'} do |f| %>
    <fieldset>
      <legend>Player Information</legend>
      <div class="column_block">
      <ol>
        <li>
          <%= f.label :section, 'Section' %>
          <%= f.select :section, @tournament.sections.collect{|section| section.name}, {:include_blank => true} %>
        </li>
        <li>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </li>
        <li>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </li>
        <li>
          <%= f.label :school %>
          <%= f.text_field :school %>
        </li>
        <li>
          <%= f.label :grade %>
          <%= f.select :grade, @tournament.grade_options_for_select, {:include_blank => true} %>
        </li>
        <li>
          <%= f.label :gender %>
          <%= f.select :gender, %w(M F), {:include_blank => true} %>
        </li>
      </ol>
    </div>
    <div class="column_block">
      <ol>
        <li id="message" />
        <li>
          <%= f.label :date_of_birth, 'Date of Birth'%>
          <% year = Time.new.year %>
          <%= f.date_select :date_of_birth,
                            {:include_blank => true, :default => nil, start_year: year-19, end_year: year-4},
                            :order => [:month, :day, :year] %>
        </li>
        <li>
          <%= f.label :uscf_member_id, 'USCF Member Id'%>
          <%= f.text_field :uscf_member_id %>
        </li>
        <li>
          <span class="info">For Rated Sections (see below)</span>
        </li>
        <li>
          <%= f.label :guardian_emails, 'Guardian Emails'%>
          <%= f.text_area :guardian_emails, :cols => 32, :rows => 4 %>
        </li>
        <li>
          <span class="info">Needed for tournament contact. Users
            <%= link_to 'sign up', new_user_registration_path %> via email address to change player data. Supports lists.</span>
        </li>
      </ol>
    </div>
    <div class="column_block">
      <ol>
        <li>
          <%= f.label :address, 'Address'%>
          <%= f.text_field :address %>
        </li>
        <li>
          <%= f.label :city, 'City'%>
          <%= f.text_field :city %>
        </li>
        <li>
          <%= f.label :state, 'State'%>
          <%= f.text_field :state %>
        </li>
        <li>
          <%= f.label :zip_code, 'Zip Code'%>
          <%= f.text_field :zip_code %>
        </li>
      </ol>
    </div>
    </fieldset><br class="column-stop"/>
    <%= hidden_field_tag :return_to, @return_to unless @return_to.nil? %>
    <%= f.submit 'Submit' %> <span class="privacy-policy">Participation in a public tournament is inherently not private. <br/>
  All tournament data, including registration information, is public.</span>
  <% end %>
</div>

<p><span class="info">Forgotten your USCF Member Id? Use the <a href="http://www.uschess.org/component/option,com_wrapper/Itemid,181/">USCF Player Lookup</a>.
Need to purchase a USCF membership to play in the rated sections? Do it <a href="https://secure2.uschess.org/webstore/member.php">online</a> or
at the tournament.</span> </p>

Return to <%= link_to @tournament.name,  tournament_path(@tournament), :class => 'btn', :id => 'Return' %>
