<h2>Registration of Your players for <%= @tournament.name %></h2>

<table class='tournament-player-sections'>
  <tr>
    <th class='player'>Player</th>
    <th class='grade'>Grade</th>
    <th class='rating' colspan='3'>Rating</th>
    <th class='section'>Section</th>
  </tr>
  <% @players.sort_by { |p| [ p.last_name, p.first_name] }.each do |player| %>
      <% p = player %>
      <% r = @player_registrations[p] %>
      <% section_names = @tournament.sections.collect{|section| section.name} %>
      <tr id='<%= p.uscf_id %>' >
        <td><%= p.last_name %>, <%= p.first_name %> </td>
        <td><%= p.grade %></td>
        <td class='spacer'><%= p.uscf_rating_reg == 0 ? 'UNR' : p.uscf_rating_reg%></td>
        <% if p.uscf_rating_reg_live != p.uscf_rating_reg %>
          <td class='spacer'>=&gt;</td>
          <td class='spacer'><%= p.uscf_rating_reg_live %></td>
        <% else %>
            <td class='spacer'></td>
            <td class='spacer'></td>
        <% end %>
        <td>
          <% if r.nil? %>
              <% r = Registration.new %>
              <%= form_for r, url: "/tournaments/#{@tournament.slug}/registrations",
                           html: {class: 'section_change_form'} do |f| %>
                  <%= f.select :section, section_names, {:include_blank => true}, :style => 'width: 25em;' %>
                  <%= hidden_field_tag :player_id, player.id %>
                  <%= hidden_field_tag :tournament_id, @tournament.id %>
                  <%= hidden_field_tag :return_to, guardian_show_tournament_path(@tournament) %>
                  <%= f.submit 'Submit' %>
              <% end %>
          <% else %>
              <%= form_for r, url: player_tournament_section_path(p, @tournament),  method: :post,
                           html: { class: 'section_change_form' } do |f| %>
                  <%= f.select :section, section_names, {:include_blank => true}, :style => 'width: 25em;' %>
                  <%= hidden_field_tag :return_to, guardian_show_tournament_path(@tournament) %>
                  <%= f.submit 'Submit' %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>


</table>