<% @page_title = "Tournament: #{@tournament.name}"%>


<h1> <%= @tournament.name %>
  <div class="registration-link">
    <% if @tournament.registration == 'on' %>
      <%= link_to 'Register',  new_tournament_registration_path(@tournament.slug), :class => 'btn', :id => 'Register' %>
    <% end %>
  </div>
</h1>

<table class="tournament-header">
  <tr><td>Date: </td><td><%= @tournament.event_date %></td></tr>
  <tr><td>Location: </td><td><%= @tournament.location %></td></tr>
</table>

<div class="hr"><hr/></div>
<p/>

<%= @description.html_safe %>


