<p/>
<h2>Chess Schedule: <%= @schedule.name %> </h2>
<p/>
<table class="tournament-schedule" border="1">
  <thead>
  <tr>
    <th>Date</th>
    <th>Tournament</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
<% rownum = 0 %>
<% @schedule.tournaments.sort_by!{|t| t[:event_date]}.each do |tournament| %>
<% rownum += 1 %>
<% if rownum%2 == 1 %>
<tr>
<% else %>
<tr class="alt">
<% end %>
  <td><%= tournament.event_date %></td>
  <td><%= link_to "#{tournament.name}", tournament%></td>
  <td><%= tournament.location %></td>
  <td><%= tournament.short_description %></td>
</tr>
<% end %>
  </tbody>

</table>

