<% if @schedule.page.nil? %>
<h2>Chess Schedule: <%= @schedule.name %> </h2>
<% else %>
<%= @schedule.page.render %>
<% end %>

<% if @schedule.future_events.size > 0 %>
<b>Upcoming Events</b>
<table class="tournament-schedule grid" border="1">
  <thead>
  <tr>
    <th>Date</th>
    <th>Event</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
<% rownum = 0 %>
<% @schedule.future_events.sort_by{|t| t[:event_date]}.each do |tournament| %>
<% rownum += 1 %>
<% if rownum%2 == 1 %>
<tr>
<% else %>
<tr class="alt">
<% end %>
  <td><%= tournament.event_date %></td>
  <td><%= link_to "#{tournament.name}", tournament%></td>
  <td><%= tournament.location %></td>
  <td><%= tournament.short_description %></td>
</tr>
<% end %>
  </tbody>

</table>
<% end %>

<% if @schedule.past_events.size > 0 %>
<b>Past Events</b>
<table class="tournament-schedule grid" border="1">
  <thead>
  <tr>
    <th>Date</th>
    <th>Event</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
<% rownum = 0 %>
<% @schedule.past_events.sort_by{|t| t[:event_date]}.reverse.each do |tournament| %>
<% rownum += 1 %>
<% if rownum%2 == 1 %>
<tr>
<% else %>
<tr class="alt">
<% end %>
  <td><%= tournament.event_date %></td>
  <td><%= link_to "#{tournament.name}", tournament%></td>
  <td><%= tournament.location %></td>
  <td><%= tournament.short_description %></td>
</tr>
<% end %>
  </tbody>

</table>
<% end %>
