<h1>Sections for <%= @tournament.name %>
  <%= "[#{@tournament.registration_count} players" %><%= " of #{@tournament.total_quota} max" if @tournament.total_quota %>]
</h1>

<table class="section-list grid" border="1">
  <thead>
  <tr>
    <th class="rownum">#</th>
    <th class="name">Section</th>
    <th class="rated">Rated?</th>
    <th class="rating_cap">Rating Cap</th>
    <th class="min_grade">Grades</th>
    <th class="players">Players</th>
    <th class="quota">Quota</th>
    <th class="players">Space</th>
  </tr>
  </thead>
  <% rownum = 0 %>
  <% @tournament.sections.each do |section| %>
    <% rownum += 1 %>
    <tr <%= "class=alt" if rownum%2 == 1 %>>
      <td><%= rownum %></td>
      <td><%= link_to section.name , [@tournament, section] %></td>
      <td><%= section.rated %></td>
      <td><%= section.rating_cap %></td>
      <td><%= "#{k(section.grade_min)} - #{k(section.grade_max)}" %></td>
      <td><%= @counts[section.name] %></td>
      <td><%= section.max %></td>
      <td><%= section.max - @counts[section.name] if section.max && section.max > 0 %></td>
    </tr>
  <% end %>
</table>
