<h1>Edit Player</h1>
<% if @player.team   %>
    <%= @player.first_name %> <%= @player.last_name %> is on the <%= link_to @player.team.name, @player.team %> team.
<% end %>

<%= form_for @player, url: player_path(@player),
             html: {multipart: true, class: 'registration_form'} do |f| %>

    <fieldset>
      <legend>Player Information: Update Player
        <% if @team   %>
            to <%= @team.name %>
        <% end %>
      </legend>
      <% @player.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
      <%= f.hidden_field :team_id, :value => @player.team.nil? ? nil : @player.team.id %>
      <div class="column_block">
        <ol>
          <li>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </li>
          <li>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </li>
          <li>
            <%= f.label :date_of_birth, 'Date of Birth'%>
            <% year = Time.new.year %>
            <%= f.date_select :date_of_birth,
                              {:include_blank => true, :default => nil, start_year: year-19, end_year: year-4},
                              :order => [:month, :day, :year] %>
          </li>
          <li>
            <%= f.label :grade %>
            <%= f.select :grade, %w(K 1 2 3 4 5 6 7 8 9 10 11 12), {:include_blank => true} %>
          </li>
          <li>
            <%= f.label :gender %>
            <%= f.select :gender, %w(M F), {:include_blank => true} %>
          </li>
        </ol>
      </div>
      <div class="column_block">
        <ol>
          <li id="message" />
          <li>
            <%= f.label :team_id, 'Team'%>
            <%= collection_select :player, :team_id, Team.all(:order => :name), :id, :full_name, {include_blank: true} %>
          </li>
          <li>
            <%= f.label :school, 'School (if team not found)'%>
            <%= f.text_field :school %>
          </li>
          <li>
            <%= f.label :uscf_id, 'USCF Id'%>
            <%= f.text_field :uscf_id %>
          </li>
          <li>
            <%= f.label :guardian_emails, 'Guardian Emails'%>
            <%= f.text_area :guardian_emails, :cols => 32, :rows => 4 %>
          </li>
          <li>
          <span class="info">Users with these email addresses can control player registrations and data. Supports lists.</span>
          </li>
        </ol>
      </div>
      <div class="column_block">
        <ol>
          <li>
            <%= f.label :address, 'Address'%>
            <%= f.text_field :address %>
          </li>
          <li>
            <%= f.label :city, 'City'%>
            <%= f.text_field :city %>
          </li>
          <li>
            <%= f.label :state, 'State'%>
            <%= f.text_field :state %>
          </li>
          <li>
            <%= f.label :zip_code, 'Zip Code'%>
            <%= f.text_field :zip_code %>
          </li>
          <li>
            <%= f.label :county, 'County'%>
            <%= f.text_field :county %>
          </li>
        </ol>
      </div>
    </fieldset><br class="column-stop"/>
    <%= f.submit 'Update' %>

<% end %>