<h1>Create Player</h1>
<% if @team   %>
  <h2>On <%= @team.name %> Team Roster</h2>
<% end %>

<%= form_for @player, url: {controller: 'players', action: 'create'},
  html: {multipart: true, class: 'registration_form'} do |f| %>

    <fieldset>
      <legend>Player Information: Create a Player
      <% if @team   %>
          on <%= @team.name %> roster
      <% end %>
      </legend>
      <% @player.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
      <div class="column_block">
        <ol>
          <li>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </li>
          <li>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </li>
          <li>
            <%= f.label :date_of_birth, 'Date of Birth'%>
            <% year = Time.new.year %>
            <%= f.date_select :date_of_birth,
                              {:include_blank => true, :default => nil, start_year: year-19, end_year: year-4},
                              :order => [:month, :day, :year] %>
          </li>
          <li>
            <%= f.label :grade %>
            <%= f.select :grade, %w(K 1 2 3 4 5 6 7 8 9 10 11 12), {:include_blank => true} %>
          </li>
          <li>
            <%= f.label :gender %>
            <%= f.select :gender, %w(M F), {:include_blank => true} %>
          </li>
        </ol>
      </div>
      <div class="column_block">
        <ol>
          <li id="message" />
          <li>
            <%= f.label :team_id, 'School'%>
            <%= collection_select :player, :team_id, Team.all(:order => :name), :slug, :name, {include_blank: true} %>
          </li>
          <li>
            <%= f.label :school, 'School (if not in list)'%>
            <%= f.text_field :school %>
          </li>
          <li>
            <%= f.label :uscf_id, 'USCF Id'%>
            <%= f.text_field :uscf_id %>
          </li>
          <li>
            <%= f.label :guardian_emails, 'Guardian Emails'%>
            <%= f.text_area :guardian_emails, :cols => 32, :rows => 4 %>
          </li>
          <li>
            <span class="info">Users with these email addresses can control player registrations and data. Supports lists.</span>
          </li>
        </ol>
      </div>
      <div class="column_block">
        <ol>
          <li>
            <%= f.label :address, 'Address'%>
            <%= f.text_field :address %>
          </li>
          <li>
            <%= f.label :city, 'City'%>
            <%= f.text_field :city %>
          </li>
          <li>
            <%= f.label :state, 'State'%>
            <%= f.text_field :state %>
          </li>
          <li>
            <%= f.label :zip_code, 'Zip Code'%>
            <%= f.text_field :zip_code %>
          </li>
          <li>
            <%= f.label :county, 'County'%>
            <%= f.text_field :county %>
          </li>
        </ol>
      </div>
    </fieldset><br class="column-stop"/>
    <%= hidden_field_tag :creation_type, @team.nil? ? 'guardian' : 'team' %>
    <%= hidden_field_tag :add_to_team, @team.slug if @team %>
    <%= hidden_field_tag :guardian, current_user.email unless @team %>
    <%= f.submit 'Create Player' %>
<% end %>

<p><span class="info">Forgotten your USCF Member Id? Use the <a href="http://www.uschess.org/component/option,com_wrapper/Itemid,181/">USCF Player Lookup</a>.
Need to purchase a USCF membership to play in the rated sections? Do it <a href="https://secure2.uschess.org/webstore/member.php">online</a> or
at the tournament.</span> </p>
