
Register <%= @player.first_name %> <%= @player.last_name %> for <%= @tournament.name %>

<%= form_for @registration, url: register_player_path(@player), html: {class: 'tournament_select_form'} do |f| %>
    <li>
      <%= f.label :section, 'Desired Section' %>
      <%= f.select :section, @tournament.sections.collect{|section| section.name}, {:include_blank => true} %>
    </li>
    <%= f.submit 'Register' %>
<% end %>
