<% require 'uri' %>
<h1>Player Page for <%= @player.first_name %> <%= @player.last_name%></h1>

<%= button_to 'Edit Player Details', edit_player_path(@player), :method => 'get' %><p/>

USCF Rating: <%= @player.uscf_rating_reg %> => <%= @player.uscf_rating_reg_live %><br/>
USCF Status: <%= @player.uscf_status %> (expires: <%= @player.uscf_expires %>)<br/>
  <% if current_user.admin? %>
    <%= form_tag(controller: "players", action: "freshen_uscf") do %>
      <%= submit_tag("Freshen Ratings") %>
    <% end %>
  <% end %>


<h2>Registrations</h2>
<% unless @registrations.empty? %>
    <ul>
      <% @registrations.select { |r| !%w(withdraw duplicate).include?(r.status) }.each do |registration| %>
      <% hide_fees = (registration.tournament.fee.nil? or registration.tournament.fee == 0.00) %>
      <li>
        <%= registration.tournament.name %>: <%= registration.get_section.name %>
        <% unless hide_fees %>
          <%= "(fee=#{dollars(registration.fee)}, paid=#{dollars(registration.paid)})" %>
            <% if registration.need_payment? %>
                <% sandbox = Rails.env != 'production' %>
                <% merchant = ENV['PAYPAL_MERCHANT'] %>
                <% callback_url = ENV['PAYPAL_IPN_CALLBACK_URL'] %>
                <script async="async"
                        src="/<%= 'sandbox-' if sandbox %>paypal-button-minicart.min.js?merchant=<%= merchant %>"
                        data-button="cart"
                        data-name="<%= @player.last_name %>, <%= @player.first_name %>: <%= registration.tournament.name %> [<%= registration.id %>]"
                        data-number="<%= registration.id %>"
                        data-amount="<%= registration.fee %>"
                        data-quantity='1'
                        data-custom='<%= "Event Entry: #{registration.tournament.name} [#{registration.tournament.id}]" %>'
                        data-size='small'
                        data-callback='<%= callback_url %>'
                        <%= 'data-env=sandbox' if sandbox %>
                        data-return="<%= request.original_url %>" >
                </script>
            <% end %>
      <% end %>
      </li>
      <% end %>
    </ul>
<% else %>
    This player is not registered for any tournaments.
<% end %>

<h2>Register for Event</h2>

<div class="player_tournament_registration">
<% unless @tournaments.empty? %>
  <div class="column_block">
  <%= form_for @registration, url: :player_register, html: {class: 'tournament_select_form'} do |f| %>
    <%= hidden_field_tag :player_id, @player.id %>
    <%= f.label :tournament_id, 'Tournament' %>
    <%= f.select :tournament_id, @tournaments.collect{|tournament| [tournament.name, tournament.id]},
               {:include_blank => true}, {:style => 'width: 25em;', :onchange => 'this.form.submit()'} %>
  <% end %>
  </div>
  <div class="column_block">
  <%= form_for @registration, url: @tournament.nil? ? :player_register : "/tournaments/#{@tournament.slug}/registrations",
                 html: {class: 'tournament_select_form'} do |f| %>
    <%= hidden_field_tag :player_id, @player.id %>
    <%= hidden_field_tag :tournament_id, @tournament.nil? ? -1 : @tournament.id %>
    <%= f.label :section, 'Section' %>
    <% sections = @tournament.nil? ? [] : @tournament.sections%>
    <%= f.select :section, sections.collect{|section| section.name}, {:include_blank => true}, :style => 'width: 25em;' %>
    <%= f.submit 'Register' %>
  <% end %>
  </div><br class="column-stop"/>
</div>
<% else %>
    There are no tournaments that you can registered for.
<% end %>
