<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <% if user_signed_in? %>
    <div class="button"><%= link_to 'Home', root_path %></div>
    <div class="button"><%= link_to 'Dashboard', user_root_path %></div>
    <div class="button-right"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
    <div class="button-right"><%= link_to 'Teams', teams_path %></div>
  <% else %>
     <div class="button"><%= link_to 'Home', root_path %></div>
     <div class="button-right"><a href="/users/sign_in">Sign In</a></div>
  <% end %>
</div>

<% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
    <div class="flash-notice"><%= flash[:alter] %></div>
<% end %>
<% if flash[:registered] %>
    <div class="flash-registered"><%= flash[:registered] %></div>
<% end %>

<%= yield %>


<p/>
<div class="footer">
  <div class="powered-by">
    Powered by <a href="http://github.com/bwtaylor/pawn-parade">PawnParade</a>, <a href="http://rubyonrails.org/">Ruby on Rails</a>,
    and <a href="http://www.rackspace.com/application-deployment/">Rackspace Cloud Deployments</a>.
  </div>
</div>

</body>
</html>
